nav {
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}

.window-scroll {
  /*background: var(--color-primary);*/
  background: rgba(255, 255, 255, 0.5); /* رنگ پس‌زمینه با شفافیت */
  backdrop-filter: blur(8px);
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}

.window-scroll ul button {
  border-color: var(--color-white);
  color: var(--color-white);

}

.window-scroll ul button:hover {
  background: var(--color-bg);
}

.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__container .nav__logo img {
  height: 4rem;
  border-radius: 50%;
}

nav button {
  display: none;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav__menu .nav__link {
  font-size: 0.9rem;
  transition: var(--transition);
  color: var(--color-site);
}

.nav__menu .nav__link:hover {
  /*color: var(--color-fourth);*/
opacity: 0.7;
}

@media screen and (max-width: 1024px) {
  nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--color-site);
    cursor: pointer;
  }

  nav button#close-menu-btn {
    display: none;
  }

  .nav__menu {
    position: fixed;
    top: 5rem;
    right: 4%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
  }

  .nav__menu li {
    width: 100%;
    height: 5.8rem;
    box-shadow: -4rem 5rem 10rem rgba(0, 0, 0, 0.5);
    background: var(--color-primary);
    animation: animateNavItems 400ms linear forwards;
    transform-origin: top right;
    opacity: 0;
  }

  @keyframes animateNavItems {
    0% {
      transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }
    100% {
      transform: rotateZ(0) rotateX(0) scale(1);
      opacity: 1;
    }
  }

  .nav__menu li:nth-child(2) {
    animation-delay: 200ms;
  }

  .nav__menu li:nth-child(3) {
    animation-delay: 400ms;
  }

  .nav__menu li:nth-child(4) {
    animation-delay: 600ms;
  }

  .nav__menu li .nav__link {
    display: grid;
    place-items: center;
    height: 100%;
    font-size: 1rem;
    color: var(--color-white);
  }

  .nav__menu li button {
    color: var(--color-site);
    background: var(--color-primary);
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: 1px solid var(--color-primary);
  }

  .nav__menu li .registerBtn {
    color: var(--color-white);
  }

  .nav__menu li button:hover {
    border-color: var(--color-primary-darker);
  }

  .nav__menu li button:hover .registerBtn {
    color: var(--color-site);
  }

  .nav__menu li:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav__menu li:hover {
    background: var(--color-primary-darker);
  }
}

@media screen and (max-width: 400px) {
  .nav__menu {
    width: 11.5rem;
  }

  .nav__container .nav__logo img {
    height: 3rem;
  }

  .nav__menu li a,
  .nav__menu li button {
    font-size: 0.8rem;
  }
}
